# 캐시/빌드 산출물
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dll
*.o
*.a

# 가상환경 / 툴링
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# 빌드 산출물
build/
dist/
*.egg-info/
.eggs/
wheels/

# IDE / 편집기
.vscode/
.idea/
*.iml

# 로그 / 테스트 산출물
*.log
*.tmp
*.out
*.db
*.sqlite3
*.sqlite3-journal
.DS_Store

# 오디오 / 미디어 파일 (용량 큼)
*.wav
*.mp3
*.m4a

# 데이터셋 / 학습 산출물
data/
datasets/
exp/
experiments/
checkpoints/
logs/
results/

# Git 관련
.git/
.gitignore

# 기타 불필요 파일
*.ipynb_checkpoints
*.cache/

# docker image에서는 필요없는 파이썬 파일
test.py
voice_embedding.py
voice_sep.py
find_espeak.py
cloned_model_load.py
input_test.py